In [27]:
# Libraries
import numpy as np
import math

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
data = pd.read_csv("../Data/Student_Performance.csv")

In [29]:
data.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [30]:
data.describe()

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,69.445700,6.530600,4.583300,55.224800
std,2.589309,17.343152,1.695863,2.867348,19.212558
min,1.000000,40.000000,4.000000,0.000000,10.000000
25%,3.000000,54.000000,5.000000,2.000000,40.000000
50%,5.000000,69.000000,7.000000,5.000000,55.000000
75%,7.000000,85.000000,8.000000,7.000000,71.000000
max,9.000000,99.000000,9.000000,9.000000,100.000000

In [31]:
data.isnull().values

array([[False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       ...,
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False]])

Data Preprocessing

In [32]:
data['Extracurricular Activities'].value_counts

<bound method IndexOpsMixin.value_counts of 0       Yes
1        No
2       Yes
3       Yes
4        No
       ...
9995    Yes
9996    Yes
9997    Yes
9998    Yes
9999     No
Name: Extracurricular Activities, Length: 10000, dtype: object>

In [33]:
data['Extracurricular Activities'] = data['Extracurricular Activities'].replace({"Yes": 0, "No": 1})
data['Extracurricular Activities']

0       0
1       1
2       0
3       0
4       1
       ..
9995    0
9996    0
9997    0
9998    0
9999    1
Name: Extracurricular Activities, Length: 10000, dtype: int64

In [34]:
data.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,0,9,1,91.0
1,4,82,1,4,2,65.0
2,8,51,0,7,2,45.0
3,5,52,0,5,2,36.0
4,7,75,1,8,5,66.0

In [35]:
data.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,0,9,1,91.0
1,4,82,1,4,2,65.0
2,8,51,0,7,2,45.0
3,5,52,0,5,2,36.0
4,7,75,1,8,5,66.0

In [55]:
x = data.iloc[:, :-1]
y = data.iloc[:, -1]

In [56]:
print("Number of samples in x:", len(x))
print("Number of samples in y:", len(y))

Number of samples in x: 10000
Number of samples in y: 10000

Model Splitting

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

In [66]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [72]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

Neural Network Construction

In [67]:
from keras.models import Sequential
from keras.layers import Dense
import keras

In [68]:
model = Sequential([
    keras.layers.Dense(16, input_shape = (5,), activation='relu'), # Input Layer
    keras.layers.Dense(8, activation='relu'), # Hidden Layer
    keras.layers.Dense(1, activation='linear')
])

In [69]:
model.compile(
    loss='mse',
    optimizer='adam',
    metrics='mae'
)

In [70]:
model.fit(X_train, y_train, epochs=50, batch_size=32)

Epoch 1/50
250/250 [==============================] - 0s 346us/step - loss: 1165.8147 - mae: 24.7074
Epoch 2/50
250/250 [==============================] - 0s 318us/step - loss: 85.6987 - mae: 7.7253
Epoch 3/50
250/250 [==============================] - 0s 324us/step - loss: 68.1034 - mae: 6.8148
Epoch 4/50
250/250 [==============================] - 0s 365us/step - loss: 52.0262 - mae: 5.8676
Epoch 5/50
250/250 [==============================] - 0s 359us/step - loss: 39.7207 - mae: 5.0831
Epoch 6/50
250/250 [==============================] - 0s 504us/step - loss: 32.7944 - mae: 4.6154
Epoch 7/50
250/250 [==============================] - 0s 342us/step - loss: 29.8284 - mae: 4.4050
Epoch 8/50
250/250 [==============================] - 0s 319us/step - loss: 28.2624 - mae: 4.2941
Epoch 9/50
250/250 [==============================] - 0s 363us/step - loss: 26.8371 - mae: 4.1828
Epoch 10/50
250/250 [==============================] - 0s 434us/step - loss: 25.4715 - mae: 4.0681
Epoch 11/50
250/250 [==============================] - 0s 329us/step - loss: 24.2409 - mae: 3.9702
Epoch 12/50
250/250 [==============================] - 0s 362us/step - loss: 22.9633 - mae: 3.8600
Epoch 13/50
250/250 [==============================] - 0s 341us/step - loss: 21.6620 - mae: 3.7448
Epoch 14/50
250/250 [==============================] - 0s 317us/step - loss: 20.1619 - mae: 3.6132
Epoch 15/50
250/250 [==============================] - 0s 319us/step - loss: 18.6084 - mae: 3.4609
Epoch 16/50
250/250 [==============================] - 0s 483us/step - loss: 17.1276 - mae: 3.3247
Epoch 17/50
250/250 [==============================] - 0s 349us/step - loss: 15.6066 - mae: 3.1666
Epoch 18/50
250/250 [==============================] - 0s 316us/step - loss: 14.0075 - mae: 2.9925
Epoch 19/50
250/250 [==============================] - 0s 317us/step - loss: 12.4943 - mae: 2.8180
Epoch 20/50
250/250 [==============================] - 0s 385us/step - loss: 11.0266 - mae: 2.6459
Epoch 21/50
250/250 [==============================] - 0s 384us/step - loss: 9.6965 - mae: 2.4756
Epoch 22/50
250/250 [==============================] - 0s 335us/step - loss: 8.2810 - mae: 2.2886
Epoch 23/50
250/250 [==============================] - 0s 323us/step - loss: 6.8291 - mae: 2.0775
Epoch 24/50
250/250 [==============================] - 0s 339us/step - loss: 5.9718 - mae: 1.9395
Epoch 25/50
250/250 [==============================] - 0s 350us/step - loss: 5.3900 - mae: 1.8377
Epoch 26/50
250/250 [==============================] - 0s 351us/step - loss: 4.8911 - mae: 1.7580
Epoch 27/50
250/250 [==============================] - 0s 347us/step - loss: 4.5895 - mae: 1.7005
Epoch 28/50
250/250 [==============================] - 0s 369us/step - loss: 4.7094 - mae: 1.7248
Epoch 29/50
250/250 [==============================] - 0s 356us/step - loss: 4.4823 - mae: 1.6864
Epoch 30/50
250/250 [==============================] - 0s 346us/step - loss: 4.4466 - mae: 1.6747
Epoch 31/50
250/250 [==============================] - 0s 349us/step - loss: 4.3929 - mae: 1.6695
Epoch 32/50
250/250 [==============================] - 0s 349us/step - loss: 4.3362 - mae: 1.6534
Epoch 33/50
250/250 [==============================] - 0s 346us/step - loss: 4.3890 - mae: 1.6650
Epoch 34/50
250/250 [==============================] - 0s 491us/step - loss: 4.4641 - mae: 1.6740
Epoch 35/50
250/250 [==============================] - 0s 342us/step - loss: 4.4391 - mae: 1.6742
Epoch 36/50
250/250 [==============================] - 0s 349us/step - loss: 4.4366 - mae: 1.6745
Epoch 37/50
250/250 [==============================] - 0s 331us/step - loss: 4.4169 - mae: 1.6693
Epoch 38/50
250/250 [==============================] - 0s 348us/step - loss: 4.4437 - mae: 1.6774
Epoch 39/50
250/250 [==============================] - 0s 321us/step - loss: 4.3899 - mae: 1.6670
Epoch 40/50
250/250 [==============================] - 0s 418us/step - loss: 4.4423 - mae: 1.6729
Epoch 41/50
250/250 [==============================] - 0s 603us/step - loss: 4.4077 - mae: 1.6704
Epoch 42/50
250/250 [==============================] - 0s 343us/step - loss: 4.4945 - mae: 1.6860
Epoch 43/50
250/250 [==============================] - 0s 339us/step - loss: 4.4080 - mae: 1.6699
Epoch 44/50
250/250 [==============================] - 0s 312us/step - loss: 4.3718 - mae: 1.6604
Epoch 45/50
250/250 [==============================] - 0s 314us/step - loss: 4.3370 - mae: 1.6556
Epoch 46/50
250/250 [==============================] - 0s 329us/step - loss: 4.4184 - mae: 1.6701
Epoch 47/50
250/250 [==============================] - 0s 400us/step - loss: 4.4517 - mae: 1.6783
Epoch 48/50
250/250 [==============================] - 0s 317us/step - loss: 4.5440 - mae: 1.6984
Epoch 49/50
250/250 [==============================] - 0s 585us/step - loss: 4.3626 - mae: 1.6599
Epoch 50/50
250/250 [==============================] - 0s 322us/step - loss: 4.3777 - mae: 1.6609

In [71]:
loss, mae = model.evaluate(X_test, y_test)
print(f"Test Mean Absolute Error: {mae}")

63/63 [==============================] - 0s 421us/step - loss: 4.1244 - mae: 1.6163
Test Mean Absolute Error: 1.6162610054016113

In [73]:
predictions = model.predict(X_test)

63/63 [==============================] - 0s 333us/step

Model Testing

In [74]:
print("------- Model Dummy Test ------")
x_input = [7,99,1,9,1]
predictions = model.predict([x_input])[0]
print("Predicted Performance Index:",predictions)

------- Model Dummy Test ------
1/1 [==============================] - 0s 131ms/step
Predicted Performance Index: [90.896545]